<!DOCTYPE html>
  <head>
  <meta charset="UTF-8">
  <script src="https://www.gstatic.com/firebasejs/5.0.4/firebase.js"></script>
  </head>
  <h1>Firebase Test</h1>
  <p>Firebase console에 데이터가 추가 되었는지 확인하세요</p>
<script>

  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyBTaq-nEHpQIh53hzUt3EZwyJ_XjRoZILM",
    authDomain: "smart-key-db.firebaseapp.com",
    databaseURL: "https://smart-key-db.firebaseio.com",
    projectId: "smart-key-db",
    storageBucket: "",
    messagingSenderId: "684171272477",
    appId: "1:684171272477:web:7be60354d08195b45fc1f4"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
   
  var SmartKey = firebase.database().ref().child('posts').push().key;
 
  var postData = {
    no: SmartKey,
    carowner:"차주",
    carnum:"차량 번호",
    brddate: Date.now()
  };
 
  var updates = {};
  updates['/carkey/' + SmartKey] = postData;
 
  firebase.database().ref().update(updates);
           
</script>